
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
h1{font-size:2em;margin:.67em 0}
img{border:0;height:15vw;width:20vw;float}
.cam-div{width:90%;margin:auto;padding-left:3vw}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body{font-family:Monospace;font-size:14px;line-height:1.428571429;color:#0c0;background-color:#222}
img{vertical-align:middle}
h1,.h1{font-family:Monospace;font-weight:500;line-height:1.1;color:inherit}
h1,.h1{margin-top:20px;margin-bottom:10px}
h1,.h1{font-size:36px}
